body {
  background-color: #540765;
  padding: 0;
  margin: 0;
}

.container {
  height: 250px;
  width: 300px;
  border: 2px solid white;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.cake {
  height: 70px;
  width: 180px;
  background-color: #fcf18e;
  position: absolute;
}

.c1 {
  bottom: 0px;
  left: 60px;
}

.cream {
  background-color: #fa406b;
  height: 10px;
  width: 100%;
  position: absolute;
  top: 30px;
}
